body {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    position: relative;
}
h1 {
    text-align: center;
    font-weight: 700;
    font-size: xx-large;
}

h2, h3 {
    text-align: center;
    font-weight: 700;
    font-size: large;
}


#board {
    display: grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 690px;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(2, 100px);
    position: relative;
  }
  .card {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    margin: 5px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
  }  

p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.restart-button {
    display: flex;
    justify-content: center;
}
.back-img {
    max-width: 5vw;
}
.front-img {
    max-width: 5vw;
}
.bottom {
    position: relative;
    z-index: 10;
}